.container{
    position: relative;
    width: 60vw;
    height: 80vh;
    margin: auto;
    background: #000;
    overflow: hidden;
}
.ufo-container{
    position: absolute;
    top: 35rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
.astronaut-container{
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, 0);  
}
.astronaut-mask{
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    background: #000;
    top: -4rem;
    z-index: 2;
}
.astronaut-img{
    display: block;
    position: relative;
    width: 50%;
    top: -4rem;
    right: -2rem;
}